# configs/config.yaml
defaults:
  - _self_
  - al: base           # al/trust.yaml を使用
  - model: bert         # model/bert.yaml を使用
  - train: standard     # train/standard.yaml を使用
  - infer: base         # infer/base.yaml を使用
  - data: base          # data/base.yaml を使用
  - split: standard     # split/standard.yaml を使用
  - confidence: default # confidence/default.yaml を使用
  - gate: default       # gate/default.yaml を使用
  - run: base           # run/base.yaml を使用（中身はAL専用の共通設定）
  - cleaner: base       # cleaner/base.yaml
  - task: sas           # task/sas.yaml を使用
  - viz: preset

project_root: ${oc.env:TENSAKU_ROOT, .}}

hydra:
  run:
    # 【変更】override_dirname を sampler の前に持ってくる
    dir: ${project_root}/outputs/${data.qid}/${run.tag}/${al.sampler.name}/seed=${run.seed}

  sweep:
    dir: ${project_root}/outputs
    
    subdir: ${data.qid}/${run.tag}/${al.sampler.name}/seed=${run.seed}

  job:
    chdir: True

    config:
      override_dirname:

        exclude_keys:
          - run.project_root
          - run.outputs_root
          - run.seed
          - data.qid
          - al.sampler.name
          - al/sampler
          - run
          - train
          - model
          - al
          - infer
          - data
          - split
          - confidence
          - gate
          - cleaner
          - task
          - dataset
          
          # --- 制御用変数 ---
          - run.on_exist
          - run.outputs_dir
          - run.data_dir

  job_logging:
      version: 1
      formatters:
        simple:
          format: "[%(asctime)s][%(name)s][%(levelname)s] - %(message)s"

      handlers:
        console:
          class: logging.StreamHandler
          formatter: simple
          stream: ext://sys.stdout
        file:
          class: logging.FileHandler
          filename: main.log
          formatter: simple

      root:
        level: INFO
        handlers: [console, file]

